{% extends 'base.html.twig' %}

{% block title %}TutUnit index{% endblock %}

{% block body %}
    <h1>TutUnit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Available</th>
                <th>Datetime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tut_unit in tut_units %}
            <tr>
                <td>{{ tut_unit.id }}</td>
                <td>{{ tut_unit.available ? 'Yes' : 'No' }}</td>
                <td>{{ tut_unit.datetime ? tut_unit.datetime|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="card-link btn btn-outline-success mt-2" role="button" href="{{ path('app_tut_unit_show', {'id': tut_unit.id}) }}">show</a>
                    <a class="card-link btn btn-outline-primary mt-2" role="button" href="{{ path('app_tut_unit_edit', {'id': tut_unit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="card-link btn btn-outline-dark mt-2" role="button" href="{{ path('app_tut_unit_new') }}">Create new</a>







    <div class="container">
		<div class="row my-3 mx-5">
			<div class="offset-1 col-3">
				<a class="btn btn-secondary w-100">&lt; Week before</a>
			</div>
			<div class="offset-4 col-3">
				<a class="btn btn-secondary w-100">Next week &gt;</a>
			</div>
		</div>
        <h3 class="text-center"> {{start_date | date ('d.m.Y')}} - {{end_date | date ('d.m.Y')}}</h3>
        
		<div class="row my-3 h5">
			<div class="col text-center">
				Time:
			</div>
			{% for day in week %}
                <div class="col text-center">
                    {{ day | date('D')}}
                </div>
            {% endfor %}
		</div>
		{% for time in 07..23 %}
			{% for day in week %}
				{% if (day | date('D') == 'Mon') %}
					<div class="row row-cols-7 border-bottom">
						<div class="col text-center d-block w-100">
							{{time}}:00
						</div>
                        <div class="col text-center">
                            <a href="new" class="text-white d-block bg-primary text-decoration-none w-100">+</a>
                        </div>
				{% elseif (day | date('D') == 'Sun') %}
					<div class="col text-center">
                        <a href="new" class="text-white d-block bg-primary text-decoration-none w-100">+</a>
                    </div>
                    </div>
				{% else %}
					<div class="col text-center">
						<a href="new" class="text-white d-block bg-primary text-decoration-none w-100">+</a>
					</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}
