{% extends 'base.html.twig' %}

{% block title %}TutUnit index{% endblock %}

{% block body %}

    <style>
        .bg-secondary{
            background-color: #E3E3E3 !important;
            color: black !important; 
        }
    </style>
    <h1 class="text-center mb-5">Tutoring Units</h1>


    {# <a href="{{ path('app_tut_unit_new/{day | date('dmY')/time') }}">Create new datetime</a> #}


    <div class="container">
		{# Feature in the future to go to next week etc. #}
        
        {# 
        <div class="row my-3 mx-5">
			<div class="offset-1 col-3">
				<a class="btn btn-secondary w-100">&lt; Week before</a>
			</div>
			<div class="offset-4 col-3">
				<a class="btn btn-secondary w-100">Next week &gt;</a>
			</div>
		</div>
         #}

         

        <h3 class="text-center"> {{start_date | date ('d.m.Y')}} - {{end_date | date ('d.m.Y')}}</h3>
        
		<div class="row my-3 h5">
			<div class="col text-center">
				Time:
			</div>
			{% for day in week %}
                <div class="col text-center">
                    {{ day | date('D')}}
                </div>
            {% endfor %}
		</div>
        
		{% for time in 7..23 %}
			{% for day in week %}
            
            {# If it is a monday start a new row and add the time as first field #}
				{% if (day | date('D') == 'Mon') %}
					<div class="row row-cols-7 border-bottom">
						<div class="col text-center d-block w-100">
                            {% if time < 10 %}
                                0{{time}}:00
                            {% else %}
                                {{time}}:00
                            {% endif %}
						</div>
                {% endif %}
               
                {% if time < 10 %}
                    {% set timeString = 0 ~ time %}
                {% else %}
                    {% set timeString = time %}
                {% endif %}
                {# Create/Edit Button to fill fields #}
                 {% set found = false %}
                    {% set appointmentId = null %}

                {% for appointment in appointments %}
                {# {{day  ~ " " ~ timeString ~ ":00"}}
                {{(appointment.datetime) | date('d-m-Y H:i')}}  #}
                    {% if (day  ~ " " ~ timeString ~ ":00") == (appointment.datetime | date('d-m-Y H:i')) %}
                        {% set found = true %}
                        {% set appointmentId = appointment.id %}
                    {% endif %}                       
                {% endfor %}
                {% if found == true %}
                    <div class="col text-center">
                            <a href="{{appointmentId}}/edit" class="text-white d-block bg-success text-decoration-none w-100 border border-2">Booked</a>
                        </div>
                        {% else %}
                             <div class="col text-center">
						    <a href="new/{{day}}/{{time}}" class="text-white d-block bg-secondary text-decoration-none w-100 border border-2">+</a>
					    </div>
                {% endif %}
                
                {# {% if(day  ~ " " ~ time ~ ":00") in appointments %}
                    {{ (day  ~ " " ~ time ~ ":00") }} #}
                    
                {# {% if (day | date('d-m-Y H:i:s')) in appointments %} #}
                {# {% endif %} #}

                    
                {# If the date is a Sunday end the row #}
                {% if (day | date('D') == 'Sun') %}
                    </div>
                {% endif %}
			{% endfor %}
		{% endfor %}
	</div>

    <div class="container d-flex justify-content-center">
    <table class="table mt-4 mb-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Available</th>
                <th>Datetime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tut_unit in tut_units %}
            <tr>
                <td>{{ tut_unit.id }}</td>
                <td>{{ tut_unit.available ? 'Yes' : 'No' }}</td>
                <td>{{ tut_unit.datetime ? tut_unit.datetime|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="card-link btn btn-outline-success mt-2" role="button" href="{{ path('app_tut_unit_show', {'id': tut_unit.id}) }}">show</a>
                    <a class="card-link btn btn-outline-primary mt-2" role="button" href="{{ path('app_tut_unit_edit', {'id': tut_unit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}