{% extends 'base.html.twig' %}

{% block title %}TutUnit index{% endblock %}

{% block body %}
    <h1>TutUnit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Available</th>
                <th>Datetime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tut_unit in tut_units %}
            <tr>
                <td>{{ tut_unit.id }}</td>
                <td>{{ tut_unit.available ? 'Yes' : 'No' }}</td>
                <td>{{ tut_unit.datetime ? tut_unit.datetime|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_tut_unit_show', {'id': tut_unit.id}) }}">show</a>
                    <a href="{{ path('app_tut_unit_edit', {'id': tut_unit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tut_unit_new') }}">Create new</a>
{% endblock %}
