{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
<div class="container">
    <h1>Student index</h1>
    </div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Major</th>
                <th>Details</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.major }}</td>
                <td>{{ student.details }}</td>
                <td>
                    <a class="card-link btn btn-outline-success mt-2" role="button" href="{{ path('app_student_show', {'id': student.id}) }}">show</a>
                    <a class="card-link btn btn-outline-primary mt-2" role="button" href="{{ path('app_student_edit', {'id': student.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="card-link btn btn-outline-dark mt-2" role="button" href="{{ path('app_student_new') }}">Create new</a>
    </div>
{% endblock %}
