{% extends 'base.html.twig' %}

{% block title %}Student{% endblock %}

{% block body %}

<div class="container">
    <h1>Student</h1>
    </div>

<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ student.id }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ student.firstName }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ student.lastName }}</td>
            </tr>
            <tr>
                <th>Major</th>
                <td>{{ student.major }}</td>
            </tr>
            <tr>
                <th>Details</th>
                <td>{{ student.details }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_student_index') }}">back to list</a>

    <a href="{{ path('app_student_edit', {'id': student.id}) }}">edit</a>

    {{ include('student/_delete_form.html.twig') }}
</div>

{% endblock %}
