{% extends 'base.html.twig' %}

{% block title %}Unique Content{% endblock %}

{% block body %}
    <h3 class="text-center mb-4">Unique Content</h3>
    <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Description</th>
                <th>Tut_pic</th>
                <th>Bg_pic</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for unique_content in unique_contents %}
            <tr>
                <td>{{ unique_content.id }}</td>
                <td>{{ unique_content.firstName }}</td>
                <td>{{ unique_content.lastName }}</td>
                <td>{{ unique_content.description }}</td>
                <td><img style="width: 130px;" class="card-img-top" src="{{asset("images/" ~ unique_content.tutPic)}}" alt="Card image cap"></td>
                <td><img style="width: 130px;" class="card-img-top" src="{{asset("images/" ~ unique_content.bgPic)}}" alt="Card image cap"></td>
                <td>
                    <a class="card-link btn btn-outline-success mt-2" role="button" href="{{ path('app_unique_content_show', {'id': unique_content.id}) }}">Show</a>
                    <a class="card-link btn btn-outline-primary mt-2" role="button" href="{{ path('app_unique_content_edit', {'id': unique_content.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="card-link btn btn-outline-dark mt-2" role="button" href="{{ path('app_unique_content_new') }}">Create new</a>
</div>

{% endblock %}
