{% extends 'base.html.twig' %}

{% block title %}UniqueContent{% endblock %}

{% block body %}
<div class="container mt-3 mb-3">
    <h1>UniqueContent</h1>
</div>

<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ unique_content.id }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ unique_content.firstName }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ unique_content.lastName }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ unique_content.description }}</td>
            </tr>
            <tr>
                <th>Tut_pic</th>
                <td>{{ unique_content.tutPic }}</td>
            </tr>
            <tr>
                <th>Bg_pic</th>
                <td>{{ unique_content.bgPic }}</td>
            </tr>
        </tbody>
    </table>

    <a class="card-link btn btn-outline-secondary mt-2" role="button"  href="{{ path('app_unique_content_index') }}">Back to list</a>

    <a class="card-link btn btn-outline-primary mt-2 mb-2" role="button"  href="{{ path('app_unique_content_edit', {'id': unique_content.id}) }}">Edit</a>

    {{ include('unique_content/_delete_form.html.twig') }}

</div>
{% endblock %}
