{% extends 'base.html.twig' %}

{% block title %}CardContent index{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center my-2">Tutorings available</h1>
    <div class="row">
        <div class="col text-center">
            <a class="btn btn-outline-success text-center w-25 my-1" href="{{ path('app_card_content_new') }}">Create a new Tutoring!</a>
        </div>    
    </div>
    <div class="row">
        {% for card_content in card_contents %}
        <div class="col-4 my-3">
            <div class="card border border-2 p-2">
                <img  style="margin-left: 30%; width: 40%; text-align:center;" class="card-img-top" src="{{asset("images/" ~ card_content.cardPic)}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ card_content.cardTitle }}</h5>
                    <p class="card-text">{{ card_content.cardText }}</p>
                    <div class="d-flex">
                        <a class="card-link btn btn-outline-secondary mt-2" role="button" href="{{ path('app_card_content_show', {'id': card_content.id}) }}" class="btn btn-secondary w-100">Info</a>
                    
                        <a class="card-link btn btn-outline-secondary mt-2 mx-2" role="button" href="{{ path('app_card_content_edit', {'id': card_content.id}) }}" class="btn btn-secondary w-100">Edit</a>
                    
                        {{ include('card_content/_delete_form.html.twig') }}
                    </div>
                    
                </div>
            </div>
        </div>
    
        {% else %}
            <div class="text-center my-2">There are currently no Courses available, Check again later. &#128521;</div>
        {% endfor %}
    </div>
</div>
        

    
{% endblock %}
