{% extends 'base.html.twig' %}

{% block title %}Subjects{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 mb-5">All Subjects</h1>

    <div class="container d-flex justify-content-center">
    <div class="row">
      {% for subject in subjects %}
        <div class="col">
            <div class="card border-dark mb-3 shadow-sm p-3 mb-5 bg-body rounded" style="width: 18rem;">
                <div class="card-header fw-bold">{{ subject.subjectName }}</div>
                  <div class="card-body d-flex">
                  {# <h6 class="card-subtitle mb-2 text-muted">{{ subject.id }}</h6> #}
                    <a href="{{ path('app_subject_show', {'id': subject.id}) }}" class="card-link btn btn-outline-success mt-2" role="button">Details</a>
                    <a href="{{ path('app_subject_edit', {'id': subject.id}) }}" class="card-link btn btn-outline-primary mt-2" role="button">Edit</a>
              </div>
            </div>
        </div>
        {% else %}
        <div>No records found.</div>
        {% endfor %}
    </div>
</div>

<div class="container d-flex justify-content-center">
  <a class="card-link btn btn-outline-dark mt-2" role="button" 
   href="{{ path('app_subject_new') }}">Create new</a>
  </div>

{% endblock %}
