{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<h1 class="container mt-2 mb-2">Users</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <a class="card-link btn btn-success mt-2" role="button" href="{{ path('app_user_show', {'id': user.id}) }}">Show</a>
                    <a class="card-link btn btn-primary mt-2" role="button" href="{{ path('app_user_edit', {'id': user.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="card-link btn btn-outline-dark mt-2" role="button" href="{{ path('app_user_new') }}">Create new</a>
</div>

{% endblock %}
